<template name="weighinForm">
    <h2>Weigh-In</h2>
    <form>
        <div class="form-group">
            <label>Date:</label>
            <input type="text" name="date" class="form-control" placeholder="Date">
        </div>
        <div class="form-group">
            <label>Time of Day:</label>
            <select id="timeOfDay-select" name="timeOfDay">
                <option>Please Select</option>
                {{#each timeOfDay}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label>Weight:</label>
            <input type="text" name="weight" class="form-control" placeholder="Weight (lbs)">
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
    </form>
</template>
